<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Shop</title>
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="navbar navbar-light justify-content-between">
          <div>
            <h1>{{ sitename }}</h1>
          </div>
          <div>
            <button type="button" class="btn btn-primary" @click="showCheckout">
              <span>{{ cartItemCount }}</span>
              Checkout
            </button>
          </div>
        </nav>
      </header>
      <main>
        <div v-if="showProduct">
          <div class="row product">
            <div class="col">
              <figure>
                <img class="img-thumbnail" :src="product.image" />
              </figure>
            </div>
            <div class="col">
              <h1 v-text="product.title"></h1>
              <p v-html="product.description"></p>
              <p class="price">
                {{ product.price | formatPrice }}
              </p>
              <button
                class="btn btn-primary"
                @click="addToCart"
                v-if="canAddToCart"
              >
                Add to Cart
              </button>
              <button class="btn btn-warning" v-else disabled>
                Empty stock
              </button>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="col-md-5">
            <div class="alert-primary">Checkout</div>
            <div class="form-group">
              <div class="col-md-12">
                <strong>First Name:</strong>
              </div>
              <div class="col-md-12">
                <input v-model="order.firstName" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <strong>Last Name:</strong>
              </div>
              <div class="col-md-12">
                <input v-model="order.lastName" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong> Address:</strong></div>
              <div class="col-md-12">
                <input v-model="order.address" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>City:</strong></div>
              <div class="col-md-12">
                <input v-model="order.city" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-2">
                <strong>State:</strong>
                <select v-model="order.state">
                  <option disabled value="">State</option>
                  <option>Faerûn</option>
                  <option>Zakhara</option>
                  <option>Kara-Tur</option>
                  <option>Laerakond</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <strong>Zip / Postal Code:</strong>
                <input v-model="order.zip" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <input
                  type="radio"
                  id="home"
                  value="Home"
                  v-model="order.method"
                />
                <label for="home">Home</label>
                <input
                  type="radio"
                  id="business"
                  value="Business"
                  v-model="order.method"
                />
                <label for="business">Business</label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <input
                  type="checkbox"
                  id="gift"
                  value="true"
                  v-model="order.gift"
                />
                <label for="gift">Ship as gift?</label>
              </div>
            </div>
            <div class="">
              <pre>
                  First Name : {{ order.firstName }}
                  Last Name : {{ order.lastName }}
                  Address : {{order.address}}
                  City : {{order.city}}
                  State : {{order.state}}
                  Zip : {{order.zip}}
                  Gift : {{order.gift}}
                  Method : {{order.method}}
              </pre>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary" @click="submitForm">
                Place your order
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script type="text/javascript">
      var APP_LOG_LIFECYCLE_EVENTS = true;
      var webstore = new Vue({
        el: "#app",
        data: {
          sitename: "Fantasy Dungeon Supplies",
          product: {
            id: 1001,
            title: "Pile of bones, medium",
            description:
              "A pile of medium bones, <b>perfect</b> for decorating your dungeon. The origin of bones come from medium-sized races like humans, elves, dwarves,...",
            price: 1000,
            image: "assets/images/bonepile.png",
            availableInventory: 5,
          },
          cart: [],
          showProduct: false,
          order: {
            firstName: "",
            lastName: "",
            address: "",
            city: "",
            state: "",
            zip: "",
            gift: false,
            method: "Home",
          },
        },
        filters: {
          formatPrice: function (price) {
            console.log("start");
            if (!parseInt(price)) {
              return "";
            }
            if (price > 99999) {
              let priceString = (price / 100).toFixed(2);
              let priceArray = priceString.split("").reverse();
              let index = 3;
              while (priceArray.length > index + 3) {
                priceArray.splice(index + 3, 0, ",");
                index += 4;
              }
              return "€" + priceArray.reverse().join("");
            } else {
              return "€" + (price / 100).toFixed(2);
            }
          },
        },
        methods: {
          addToCart: function () {
            this.cart.push(this.product.id);
          },
          showCheckout() {
            this.showProduct = this.showProduct ? false : true;
          },
          submitForm() {
            alert("Submitted");
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length || "";
          },
          canAddToCart: function () {
            return this.product.availableInventory > this.cartItemCount;
          },
        },
        beforeCreate: () => {
          if (APP_LOG_LIFECYCLE_EVENTS) {
            console.log("beforeCreate");
          }
        },
        created: () => {
          if (APP_LOG_LIFECYCLE_EVENTS) {
            console.log("created");
          }
        },
        beforeMount: () => {
          if (APP_LOG_LIFECYCLE_EVENTS) {
            console.log("beforeMount");
          }
        },
        mounted: () => {
          if (APP_LOG_LIFECYCLE_EVENTS) {
            console.log("mounted");
          }
        },
        beforeUpdate: () => {
          if (APP_LOG_LIFECYCLE_EVENTS) {
            console.log("beforeUpdate");
          }
        },
        updated: () => {
          if (APP_LOG_LIFECYCLE_EVENTS) {
            console.log("updated");
          }
        },
        beforeDestroy: () => {
          if (APP_LOG_LIFECYCLE_EVENTS) {
            console.log("beforeDestroy");
          }
        },
        destroyed: () => {
          if (APP_LOG_LIFECYCLE_EVENTS) {
            console.log("destroyed");
          }
        },
      });
    </script>
  </body>
</html>
