<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <title>Shop</title>
</head>

<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-light justify-content-between">
        <div>
          <h1>{{ sitename }}</h1>
        </div>
        <div>
          <button type="button" class="btn btn-primary" @click="showCheckout">
            <span>{{ cartItemCount }}</span>
            Checkout
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div v-if="showProduct">
        <div class="row product">
          <div class="col">
            <figure>
              <img class="img-thumbnail" :src="product.image" />
            </figure>
          </div>
          <div class="col">
            <h1 v-text="product.title"></h1>
            <p v-html="product.description"></p>
            <div class="rating">
              <span v-bind:class="{'rating-active': checkRating(n)}" v-for="n in 5">☆</span>
            </div>
            <p class="price">
              {{ product.price | formatPrice }}
            </p>
            <button class="btn btn-primary" @click="addToCart" v-if="canAddToCart">
              Add to Cart
            </button>
            <button class="btn btn-warning" v-else disabled="true">
             Add to Cart 
            </button>
            <span class="alert alert-danger" v-if="product.availableInventory - cartItemCount === 0">Stock is currently empty!</span>
            <span class="alert alert-warning" v-else="product.availableInventory - cartItemCount < 5">Only {{product.availableInventory - cartItemCount}} left!</span>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="container">
          <form>
            <div class="alert alert-primary">Checkout</div>
            <div class="row">
              <div class="col-md-6">
                <div class="col">
                  <strong>First Name:</strong>
                </div>
                <div class="col">
                  <input v-model.trim="order.firstName" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="col">
                  <strong>Last Name:</strong>
                </div>
                <div class="col">
                  <input v-model.trim="order.lastName" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <div class="col"><strong> Address:</strong></div>
              <div class="col">
                <input v-model.trim="order.address" class="form-control" />
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <div class="col"><strong>City:</strong></div>
              <div class="col">
                <input v-model.trim="order.city" class="form-control" />
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>State:</strong>
                <select v-model="order.state" class="form-control">
                  <option disabled value="">State</option>
                  <option v-for="(state,key) in states" v-bind:value="state">
                    {{ key }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <strong>Zip / Postal Code:</strong>
                <input v-model.number="order.zip" type="number" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="col">
                  <input type="radio" id="home" v-bind:value="order.home" v-model="order.method" />
                  <label for="home">Home</label>
                  <input type="radio" id="business" v-bind:value="order.business" v-model="order.method" />
                  <label for="business">Business</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col">
                  <input type="checkbox" id="gift" value="true" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift" v-model="order.gift" />
                  <label for="gift">Ship as gift?</label>
                </div>
              </div>
            </div>
            <div class="">
              <pre>
                  First Name : {{ order.firstName }}
                  Last Name : {{ order.lastName }}
                  Address : {{order.address}}
                  City : {{order.city}}
                  State : {{order.state}}
                  Zip : {{order.zip}}
                  Gift : {{order.gift}}
                  Method : {{order.method}}
              </pre>
            </div>
        <div class="form-group">
          <div class="col">
            <button type="submit" class="btn btn-primary" @click="submitForm">
              Place your order
            </button>
          </div>
        </form>
        </div>
      </div>
    </main>
  </div>

  <script type="text/javascript">
    var APP_LOG_LIFECYCLE_EVENTS = true;
    var webstore = new Vue({
      el: "#app",
      data: {
        sitename: "Fantasy Dungeon Supplies",
        product: {
          id: 1001,
          title: "Pile of bones, medium",
          description:
            "A pile of medium bones, <b>perfect</b> for decorating your dungeon. The origin of bones come from medium-sized races like humans, elves, dwarves,...",
          price: 1000,
          image: "assets/images/bonepile.png",
          availableInventory: 11,
          rating:3,
        },
        cart: [],
        showProduct: false,
        order: {
          firstName: "",
          lastName: "",
          address: "",
          city: "",
          state: "",
          zip: "",
          gift: 'Do not send as a gift',
          method: "Home Address",
          sendGift:'Send as a gift',
          dontSendGift: 'Do not send as a gift',
          business: 'Business Address',
          home: 'Home Address'
        },
          states: {
            FA: 'Faerun',
            ZA:'Zakhara',
            KA:'Kara-tur',
            LA:'Laerakond'
          },
      },
      filters: {
        formatPrice: function (price) {
          console.log("start");
          if (!parseInt(price)) {
            return "";
          }
          if (price > 99999) {
            let priceString = (price / 100).toFixed(2);
            let priceArray = priceString.split("").reverse();
            let index = 3;
            while (priceArray.length > index + 3) {
              priceArray.splice(index + 3, 0, ",");
              index += 4;
            }
            return "€" + priceArray.reverse().join("");
          } else {
            return "€" + (price / 100).toFixed(2);
          }
        },
      },
      methods: {
        addToCart: function () {
          this.cart.push(this.product.id);
        },
        showCheckout() {
          this.showProduct = this.showProduct ? false : true;
        },
        submitForm() {
          console.log(this.order)
          alert("Submitted");
        },
        checkRating(n){
          return this.product.rating - n >= 0;
        },
      },
      computed: {
        cartItemCount: function () {
          return this.cart.length || "";
        },
        canAddToCart: function () {
          return this.product.availableInventory > this.cartItemCount;
        },
      },
      beforeCreate: () => {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeCreate");
        }
      },
      created: () => {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("created");
        }
      },
      beforeMount: () => {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeMount");
        }
      },
      mounted: () => {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("mounted");
        }
      },
      beforeUpdate: () => {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeUpdate");
        }
      },
      updated: () => {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("updated");
        }
      },
      beforeDestroy: () => {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeDestroy");
        }
      },
      destroyed: () => {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("destroyed");
        }
      },
    });
  </script>
</body>

</html>