<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://unpkg.com/vue"></script>
    <style>
    </style>
  </head>
  <body>
      <!-- Start app-->
    <div id="app">
        <!-- Start container-->
        <div class="container">
            <h1 class="text-center">{{header}}</h1>
            <!--Start row-->
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    <comp1 class="comp1"></comp1>
                </div>
                <div class="col-md-3">
                    <h2 class="text-center">Or</h2>
                </div>
                <div class="col-md-3">
                    <comp2 class="comp2"></comp2>
                </div>
            </div>
            <!--End row-->
        </div>
        <!-- End container-->
    </div>
      <!-- End app-->
    </body>

    <script>
        Vue.mixin({
            methods:{
                pressed(val){
                    alert(val)
                }
            },
            data(){
                return{
                    item:''
                }
            }
        })
        const comp1 = {
            template: `
            <div>
                <h1>Enter email</h1>
                <form>
                    <div class="form-group">
                        <input v-model="item" type="email" class="form-control" placeholder="email adress"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" @click.prevent="pressed(item)">Press button 1</button>
                    </div>
                </form>
            </div>    `,
        }
        const comp2 = {
            template: `
            <div>
                <h1>Enter number</h1>
                <form>
                    <div class="form-group">
                        <input v-model="item" class="form-control" placeholder="enter phone number"/>
                    </div>
                    <div class="form-group">
                        <button @click.prevent="pressed(item)" class="btn btn-warning">Press button 2</button>
                    </div>
                </form>
            </div>    `,
        }
      new Vue({
        el: "#app",
        components:{
            comp1: comp1,
            comp2: comp2
        },
        data() {
          return {
            header: "Vue Mixins",
          };
        },
        methods: {},
      });
    </script>
  </body>
</html>
